# Archivos sensibles / locales
.env
.env.local
.env.production
*.log

# Dependencias (si algún día usas Composer / Node)
vendor/
node_modules/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cachés
*.cache