<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.malejacalzado\.com$ [NC]
RewriteRule ^(.*)$ https://malejacalzado.com/$1 [R=301,L]

# Rutas limpias sin .php
RewriteRule ^productos/?$ productos.php [L,QSA]
RewriteRule ^nosotras/?$ nosotras.php [L,QSA]
RewriteRule ^contacto/?$ contacto.php [L,QSA]
